@using TrustMeNews.Services
@{
    string apiKey = "https://content.guardianapis.com/sections?api-key=d0bd9a0e-8101-4525-8604-4ad01023d10c";
    NewsApiService newsApiService = new NewsApiService();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrustMeNews</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Program.js" defer/>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">TrustMeNews</a>
                <ul class="nav navbar-nav" style="display:contents">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @foreach (Genre genre in newsApiService.SendGenreRequest(apiKey).GetAwaiter().GetResult())
                    {
                        <li class="nav-item">
                            <a class="nav-link genre text-dark" asp-area="" asp-controller="Home" asp-action="Index"> @genre.webTitle</a>
                        </li>
                    }
                </ul>
            </div>
            <form method="get">
                <input id="inpSearch" placeholder="Search content" asp-controller="SearchBar"/>
            </form>
        </nav>
    </header>
    <div class="container-fl">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TrustMeNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
