@using TrustMeNews.Services;
    
@{
    string apiKey = "https://content.guardianapis.com/search?api-key=d0bd9a0e-8101-4525-8604-4ad01023d10c&order-by=newest&show-fields=all&page-size=6";
    ViewData["Title"] = "Home Page";
    NewsApiService newsApiService = new NewsApiService();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*@foreach (Result article in newsApiService.SendRequest(apiKey).GetAwaiter().GetResult())
    {
        <p>@article.fields.ToString()</p>

    }*@
</div>
