@using TrustMeNews.Controllers
@using TrustMeNews.Services

@{
    ViewBag.Title = "Result";
    NewsApiService newsApiService = new NewsApiService();
    SearchBarController homeController = new SearchBarController(newsApiService);
}

@*@foreach (var item in homeController._results.Result)
{
    <p>@item.webTitle</p>
}*@
